<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home Page</h1>
    <a href="/cats/facts">Click Here for Fact!</a>
  </body>
</html>
