<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Cat Fact</h1>
    <br>
    <p><%= catInfo.fact %></p>
    <br>
    <a href="/cats/facts">Click Here for <strong>Another</strong> Fact!</a>
</body>
</html>